@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #f3f3f3;
  --dark-grey: #283747;
  --green-color: #035e21;
  --dark-text: #383b42;
  --dark-blue: #2e3192;
  --light-blue: #009db7;
  --mid-aqua: #1dd0d8;
  --light-aqua: #7ae3f4;
}

html {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* ====================== NAVIGATION SECTION ======================= */

.menu-btn {
  position: absolute;
  position: fixed;
  color: gray;
  /* background-color: #2e319234; */
  padding: 20px 20px;
  border-radius: 0 0 0 10%;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 99;
  font-size: 3rem;
  display: none;
}

#nav {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 10vh;
  /* background-color: rgba(100, 100, 100, 0.2); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  position: fixed;
}

#nav .nav-bar {
  position: absolute;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 150px;
  right: 0;
  top: 0;
  width: 100%;
}

#nav .nav-bar .logo #name img {
  height: 100%;
  width: 125px;
  margin: 15px;
  margin-left: -10%;
}

#nav .nav-bar ul.nav-menu {
  display: flex;
  list-style: none;
  /* overflow: hidden; */
}

/* Dropdown button */
.dropdown .dropbtn {
  /* font-size: 16px; */
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: var(--dark-blue);
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 15px;
  background-color: inherit;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: var(--light-aqua);
  background-color: var(--dark-blue);
  font-weight: 700;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-aqua);
  min-width: 200px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--dark-blue);
  padding: 12px 16px;
  text-decoration: none;
  display: block !important;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--light-aqua);
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#nav .nav-bar ul li {
  padding-top: 10px;
  /* font-size: 1rem; */
  text-decoration: none;
  /* color: var(--dark-blu); */
}

#nav .nav-bar ul li a {
  text-transform: uppercase;
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1.5px;
  padding: 15px;
  display: block;
  transition: all 0.3s ease-in-out;
}

#nav .nav-bar ul li a:hover {
  font-weight: 700;
  color: var(--light-aqua);
  background-color: var(--dark-blue);
}

#nav .nav-bar ul li a:active {
  font-weight: 700;
  color: var(--light-aqua);
  background-color: var(--dark-blue);
}

#nav .nav-bar ul li.close {
  display: none;
}
/* ====================== HERO SECTION ======================= */

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* slideshow */

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  position: absolute;
  top: 0;
  left: 0;
}

.mySlides img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 45%;
  min-width: 300px;
  text-align: left;
}

.text h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.text p {
  text-align: left;
  font-size: 2rem;
  letter-spacing: 2px;
}

.text button:hover {
  background-color: #1facc5;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  bottom: 10px;
}

/* .active, */
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* ===== main section */

#main {
  width: 100%;
  height: auto;
  padding: 80px 150px;
}

.container {
  width: 100%;
  height: 100%;
}

.involve-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: left;
  margin-bottom: 3rem;
}

.title h2 {
  color: var(--dark-text);
  font-size: 4.5rem;
  text-transform: normal;
  text-align: left;
  font-weight: 600;
  line-height: 1.5;
}

.get-involved {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin-bottom: 5rem;
}

.get-involved a {
  color: var(--dark-text);
  text-decoration: none;
}

.involve-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.donate {
  background-image: url(../img/donate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .volunteer {
  background-image: url(../img/volunteer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.get-involved h3 {
  text-align: center;
  margin-top: 2rem;
}

.btn {
  width: 70%;
  background-color: var(--light-aqua);
  padding: 15px 0;
  border-radius: 30px;
  border: none;
  transform: translateY(0);
}

.btn:hover {
  transform: translateY(3px);
}

.btn:focus {
  outline: none;
}

.btn a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
}

/* Projects grid */

#projects {
  width: 100%;
  height: auto;
  padding: 80px 150px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
  position: relative;
  border-radius: 5px;
}

.box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.box .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.box .overlay:hover {
  opacity: 1;
}

.box p {
  color: var(--mid-aqua);
  font-size: 2rem;
}

/* ======= About Section ======== */

#aboutus {
  width: 100%;
  height: auto;
  padding: 80px 150px;
}

.about-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.about-text {
  width: 50%;
  min-width: 400px;
  height: 100%;
}

.about-text h3 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  margin: 0 0 2rem 0;
  letter-spacing: 2px;
}

.about-text p {
  color: var(--dark-text);
  font-size: 1.8rem;
  font-weight: 300;
  text-align: left;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  padding-right: 30px;
}

.about-text .btn {
  margin-bottom: 3rem;
}

.about-img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  min-width: 300px;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.47);
}

/* ======= Programs Section ======== */

#programs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-blue);
}

/* ----------------------------- NEW PROGRAM SLIDER ------------------ */

.bbb_viewed {
  padding-top: 51px;
  padding-bottom: 60px;
  background: var(--mid-aqua);
}

.bbb_main_container {
  background-color: var(--mid-aqua);
}

.title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-gray);
}

.title-center h2 {
  color: var(--light-gray);
}

.bbb_viewed_slider_container {
  padding-top: 13px;
  position: relative;
}

.bbb_viewed_nav {
  display: inline-block;
  cursor: pointer;
}

.bbb_viewed_nav i {
  color: #dadada;
  font-size: 1.5rem;
  padding: 8px;
  background-color: var(--light-blue);
  border-radius: 60%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.bbb_viewed_nav:hover i {
  color: #606264;
}

.bbb_viewed_prev {
  position: absolute;
  top: 50%;
  z-index: 20;
}

.bbb_viewed_next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 20;
}

.bbb_viewed_item {
  width: 100%;
  background: var(--mid-aqua);
  border-radius: 2px;
  padding: 0 30px;
}

.bbb_viewed_image {
  width: 350px;
  height: 350px;
  z-index: 19;
}

.bbb_viewed_image img {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  z-index: 19;
}

.bbb_viewed_content {
  width: 80%;
}

.bbb_viewed_name {
  margin-bottom: 40px;
}

.bbb_viewed_name a {
  font-size: 2rem;
  color: var(--dark-blue);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.bbb_viewed_name a:hover {
  color: var(--light-gray);
  text-decoration: none;
}

/* -------------------------------------------------------------------- */

/* Bible Verse */

#ourmanna-verse {
  padding: 50px 100px;
  color: var(--dark-text);
  background-color: var(--dark-blue);
  border-color: rgba(0, 0, 0, 0.171);
  text-align: center;
}
#mannaverse {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--light-gray);
  font-weight: 400;
  letter-spacing: 2px;
}
#mannaverse-reference:before {
  content: "- ";
}
#mannaverse-reference {
  text-align: right;
  font-size: 1.5rem;
  color: gray;
}
#mannaverse-reference p {
  color: var(--light-gray);
}
#mannaverse-version {
  color: #2f3640;
}

/* Footer Section */

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-flow: wrap;
}

.logo-area {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
  margin: 30px 50px;
}

.logo-area a .footer-logo {
  width: 100%;
  height: 100%;
}

.btn {
  width: 100%;
  min-width: 200px;
}

.footer-btn a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-nav {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
}

.footer-nav .footer-links {
  list-style: none;
}

.footer-nav ul li {
  line-height: 2;
  text-align: center;
}

.footer-nav ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  position: relative;
}

.stay-updated {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
}

.updated-title {
  font-size: 2.5rem;
  margin: 5rem 0;
}

.stay-updated i {
  color: var(--dark-blue);
  font-size: 4rem;
  margin: 0 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.stay-updated i:hover {
  color: var(--light-blue);
}

/* Rights */

.rights {
  width: 100%;
  height: auto;
  color: var(--light-gray);
  padding: 5px 0;
  text-align: center;
  background-color: var(--dark-blue);
}

/* ======= RESPONSIVE ========== */

@media only screen and (max-width: 1200px) {
  #projects {
    width: 100%;
    height: auto;
    padding: 80px 150px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    position: relative;
    border-radius: 5px;
  }

  .about-text {
    width: 100%;
    height: auto;
  }

  .about-text .btn {
    margin-bottom: 3rem;
  }

  .about-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    z-index: 5;
  }

  #nav {
    height: 0;
  }

  #nav .nav-bar {
    position: relative;
    /* z-index: 2; */
    width: 100%;
    height: 0;
    background-color: transparent;
    display: flex;
    /* display: none; */
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
  }

  #nav .nav-bar:hover {
    background-color: transparent;
  }
  #nav .nav-bar .logo #name img {
    height: 100%;
    width: 300px;
    margin: 15px;
    margin-left: -10%;
    display: none;
  }

  #nav .nav-bar ul.nav-menu {
    display: block;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    background: #2f3640;
    transform: translateX(-500%);
    z-index: 15;
  }

  #nav .nav-bar ul.nav-menu.active {
    transform: translateX(0);
  }

  #nav .nav-bar ul.nav-menu.hide {
    transform: translateX(-1000%);
  }
  #nav .nav-bar ul li {
    padding: 10px;
    font-size: 1rem;
    padding: 2px;
    text-decoration: none;
    color: var(--light-gray);
    z-index: 10;
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--light-gray);
    transition: all 0.5s ease-in-out;
  }

  #nav .nav-bar ul li.close {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    background: var(--light-gray) !important;
    border-bottom: none;
    display: block;
    color: black;
    font-size: 2.5rem;
    margin: 15px 15px 0 0;
    padding: 10px;
  }
  .nav-bar ul.nav-menu {
    flex: 1;
    margin-left: auto;
  }

  .dropdown .dropbtn {
    /* font-size: 16px; */
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: var(--light-gray);
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center !important;
    padding: 15px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    /* margin-top: 10px; Important for vertical align on mobile phones */
    transition: all 0.3s ease-in-out;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    color: var(--light-aqua);
    background-color: var(--dark-blue);
    font-weight: 700;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: var(--light-aqua);
    /* min-width: 200px; */
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 50;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--dark-blue) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block !important;
    text-align: center;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    color: var(--light-aqua) !important;
    background-color: var(--light-aqua);
    display: block;
  }

  #nav .nav-bar ul li {
    padding: 10px 0;
    /* font-size: 1rem; */
    text-decoration: none;
    text-align: center;
    /* color: var(--dark-blu); */
  }

  #nav .nav-bar ul li a {
    text-transform: uppercase;
    color: var(--light-gray);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 15px;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  #nav .nav-bar ul li a:hover {
    font-weight: 700;
    color: var(--light-aqua);
    background-color: var(--dark-blue);
  }

  #nav .nav-bar ul li a:active {
    font-weight: 700;
    color: var(--light-aqua);
    background-color: var(--dark-blue);
  }

  /* Hero */

  .text {
    color: #f2f2f2;
    /* font-size: 15px; */
    /* padding: 8px 12px; */
    position: absolute;
    top: 20%;
    left: 10%;
    width: 45%;
    min-width: 300px;
    text-align: left;
  }

  .text h1 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }

  .text p {
    font-size: 1.8rem;
    color: #f1f1f1;
    font-weight: 500;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  /* about */
  #main {
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }

  .title {
    text-align: left;
    margin-bottom: 3rem;
  }

  .title h2 {
    color: var(--dark-text);
    font-size: 3.5rem;
    text-transform: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
  }

  .get-involved {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 5rem;
  }

  .get-involved a {
    color: var(--dark-text);
    text-decoration: none;
  }

  /* Projects grid */

  #projects {
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .box {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    position: relative;
    border-radius: 5px;
  }
  #aboutus {
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }

  .about-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }

  .about-text {
    width: 100%;
    min-width: 400px;
    height: 100%;
  }

  .about-text h3 {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin: 0 0 2rem 0;
    letter-spacing: 2px;
  }

  .about-text p {
    color: var(--dark-text);
    font-size: 1.8rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    padding-right: 30px;
  }

  .about-text button {
    margin: 5rem 0;
  }

  .about-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  /* footer */

  footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-flow: wrap;
  }

  .logo-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-direction: column;
    margin: 30px 50px;
  }

  .logo-area img {
    width: 100%;
    height: 100%;
  }

  #footer button .btn {
    width: 50px !important;
  }

  #footer button .btn a {
    color: var(--light-gray);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .footer-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
  }

  .footer-nav .footer-links {
    list-style: none;
    text-align: center;
  }

  .footer-nav ul li {
    line-height: 2;
  }

  .footer-nav ul li a {
    text-decoration: none;
    color: var(--dark-blue);
    align-items: center;
  }

  .stay-updated {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
  }

  .updated-title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .stay-updated i {
    color: var(--dark-blue);
    font-size: 4rem;
    margin: 0 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }

  .stay-updated i:hover {
    color: var(--light-blue);
  }
}
